* {
    box-sizing: border-box;
    margin: 0;
  }
  body {
    margin: 0 auto;
    

    
  }
  header {
    background-color: #1A374D;
    text-align: center;
    padding: 40px 0;
    color: white;
    text-transform: uppercase;

  }
  .first {
    border-top: 4px solid #1A374D;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 3px;
  }
  .second {
    border-top: 2px solid #1A374D;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    margin-bottom:  30px;
  }
  .third {
    border-top: 2px solid #1A374D;
    margin-bottom:  40px;
    text-align: center;
    
}
 
  .signup {
    padding: 40px 15px 50px 15px;
  }
  .signup h2 {
    color: #1A374D;
    text-align: center;
    padding-bottom: 10px;
  }
  h3, p {
      text-align: center;
      color: #406882;
  }
  .info {
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 200px;
  }
  fieldset {
      border: none;
      margin-bottom: 30px;
      line-height: 30px;
      padding: 0;   
  }
  ::placeholder {
    color: #406882;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    padding-right: 5px;
    

  }
  legend {
    color:#1A374D;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    }
  fieldset p {
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
}

  
  fieldset .contact {
    display: block;
    padding-bottom: 8px;
    color: #406882;
  }

  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 15px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #406882;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  border-radius: 8px;

  }
  label {
    color: #406882;
  }
  fieldset .topics {
    display: block;
    padding-bottom: 10px;
    padding-top: 15px;
  }
  input[name="user_code"] {
      width: 50%;
  }
  textarea {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    min-height: 100px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    background-color: #e8eeef;
    color: #406882;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  input[type="submit"] {
      width: 100%;
      border: none;
      height: auto;
      border-radius: 8px;
      background-color: #7CD1B8;
      color: white;
      min-height: 50px;
      font-size: 20px;
      margin-bottom: 20px;
  }
  input[type="submit"]:active {
    background-color: white;
    color: #7CD1B8;
    outline: 1px solid #7CD1B8;
  }
  input[type="submit"]:hover {
  color: #1A374D;
  } 
  input:hover {
    background: lightblue;
  }
  
 

 
@media (min-width: 768px) {

    .info,
    .signup,
    .first,
    .second
    {
        max-width: 50%;
        margin: auto;
    }
    .info {
        padding: 0;
    }
    header {
        max-width: 100%;
    }
    fieldset {
        margin-top: 30px;
        padding: 0;
    }
    em {
        padding-bottom: 200px;
    }
    .top-fieldset {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }
    .top-fieldset legend {
      flex-basis: 100%;
      }
    .top-fieldset input,
    .top-fieldset select {
        flex-basis: 70%;
      } 
    .top-fieldset label {
        display: block;
        flex-basis: 30%;
        margin-bottom: 30px;
      }
      #code {
        max-width: 25%;
      }


   
}